@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap');


.pageNot__box{
    width: 100%;
    height: 100vh;
    background-color: rgb(8, 9, 15);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative ;
}



.pagenot__popup__text{
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 30px;
    width: 790px;
    text-align: center;
    margin-top: 20px;

}
.pagenot__btn{

    background-color:#6200ea;
    border: 1px solid #6200ea;
    color: white;
margin-top: 20px;
cursor: pointer;
border-radius: 5px;

}


.pagenot__btn__link {
    display: block; /* Ensures the link fills the button */
    text-decoration: none;
    color: inherit; /* Inherit button text color */
    width: 100%;
    height: 100%;
    text-align: center; /* Center text inside */
padding: 10px;
  }


  @media  (min-width: 571px) and (max-width: 799px) {
    .pagenot__popup__text{
       width: auto;
        font-size: 21px;
        padding: 0px 10px;
    }
  }

  @media  (min-width: 500px) and  (max-width: 570px) {
    .pagenot__popup__text{
        width: auto;
         font-size: 18px;
         padding: 0px 10px;
     }
     .pagenot__btn__link{
        padding: 8px;
        font-size: 16px;
     }
  }


  @media  (min-width: 380px) and  (max-width: 499px) {
    .pagenot__popup__text{
        width: auto;
         font-size: 14px;
         padding: 0px 0px;
     }
     .pagenot__btn__link{
        padding: 6px;
        font-size: 14px;
     }
  }


  @media  (min-width: 320px) and  (max-width: 379px) {
    .pagenot__popup__text{
        width: auto;
         font-size: 12px;
         padding: 0px 0px;
     }
     .pagenot__btn__link{
        padding: 5px;
        font-size: 12px;
     }
  }